body {
    background-color: rgb(210, 233, 233);
  }
  body,
  li,
  ul,
  a {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    margin: 0px;
  }
  .flex {
    display: flex;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
  }
  .header {
    background-color: whitesmoke;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .header > span {
    margin-top: 40px;
    color: black;
    font-size: 3rem;
    font-weight: bolder;
  }

  /**/
    form{
        background-color: whitesmoke;
        max-width: 500px;
        margin: 50px auto;
        border-radius: 10px;
        padding: 10px;
    }
    textarea{
        border-radius: 10px;
    }
    .descrição{
        height: 150px;
        width: 90%;
    }
    .button {
        background-color: whitesmoke;
        padding: 32px;
        width: 100%;

        border: none;
        border-radius: 10px;
        cursor: pointer;

        color: black;
        font-size: 16px;
        font-weight: bolder;

        transition-duration: 0.2s;
      }
    .button:hover{
        background-color: rgb(207, 207, 207);
    }
  /**/
  .footer {
    background-color: whitesmoke;
  
    height: 130px;
    margin-top: 50px;
    font-weight: bolder;
    justify-content: space-evenly;
  }
  .footer > a {
    color: black;
    padding-right: 12.5rem;
    padding-left: 12.5rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
  }
  .footer > a:hover {
    background-color: rgb(240, 240, 240);
  }
  .linha {
    margin-top: 15px;
    height: 100px;
    width: 2px;
    background-color: black;
  }