body {
    background-color: rgb(210, 233, 233);
  
  }
  body,
  li,
  ul,
  a {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    margin: 0px;
  }
  .flex {
    display: flex;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .logo img {
    height: 100px;
    width: 100px;
  }
  .header {
    background-color: whitesmoke;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .header > span {
    margin-top: 40px;
    color: black;
    font-size: 3rem;
    font-weight: bolder;
  }
/**/

.container{
    height: 100%;
    background-color: whitesmoke;

    font-family: Helvetica;
    font-weight: bolder;
    margin: 20px 50px 20px 50px;
  
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.header{
  width: 100%;
}
.column{
    max-width: 700px;
    margin:10px;
}
.column img {
  transition-duration: 0.2s;

  margin: 25px;
  border: solid rgb(207, 207, 207);
  border-width: 10px;
  height: 25%;
  width: 25%;
}
.column img:hover{
  height: 40%;
  width: 40%;
}
.paint{
  width: 1165px;
}
h1{
  font-weight: bolder;
  padding: 10px;
  min-width: 300px;
  border: solid black;
  border-radius: 10px;
}
.paint > a{
  text-align: center;
  align-self: center;
  font-weight: bolder;
  color: black;
  margin: 40px;
  padding: 10px;
  border: solid black;
  border-radius: 10px;

  transition-duration: 0.4s;
}
.paint > a:hover{
  border: solid gold;
}
p{
  color: rgb(207, 207, 207);
  max-width: 290px;
  font-size: 14px;
  margin-top: 150px;
  margin-left: -300px;
}
/**/
.footer {
    background-color: whitesmoke;
  
    height: 130px;
    margin-top: 50px;
    font-weight: bolder;
    justify-content: space-evenly;
  }
  .footer > a {
    color: black;
    padding-right: 12.5rem;
    padding-left: 12.5rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
  }
  .footer > a:hover {
    background-color: rgb(240, 240, 240);
  }
  .linha {
    margin-top: 15px;
    height: 100px;
    width: 2px;
    background-color: black;
  }

  @media (max-width: 475px) {
.container{
  display: flex;
}
.column{
    max-width: 100px;
    margin:0px;
}
.column img {
  margin: 0px;
  height: 10%;
  width: 10%;
}
.column img:hover{
  height: 20%;
  width: 20%;
}
.paint h1{
  display:none;
}
.paint p{
  display: none;
}
.paint a{
  display: none;
}
.footer {
    height: 50px;
    width: 100%;
    margin-top: 50px;
  }
.footer > a {
    padding-right: 0rem;
    padding-left:0rem;
    padding-top: .8rem;
    font-size: 1rem;
  }
.linha {
    margin-top: 15px;
    height: 20px;
    width: 1px;
  }
}